<div class="mat-elevation-z8" [class.is-hidden]="dataEmpty$ | async">
  <table mat-table [dataSource]="tableData$ | async" matSort>

    <!-- Company Logo Column -->
    <ng-container matColumnDef="logo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row"> <img width="50px" (error)="defaultImage($event)" [src]="row.logo" /> </td>
    </ng-container>

    <!-- Case Study title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td class="idt-case-list__title-cell" mat-cell *matCellDef="let row" [innerHTML]="row.title | highlight : searchString"></td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
      <td mat-cell class="idt-case-list__company-cell" *matCellDef="let row"> {{row.company}} </td>
    </ng-container>

    <!-- Created on Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created on </th>
      <td mat-cell class="idt-case-list__date-cell" *matCellDef="let row" [style.color]="row.color"> {{row.createdAt | date}} </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.createdBy}} </td>
    </ng-container>

    <!-- Disable Column -->
    <ng-container matColumnDef="disabled" *ngIf="isAdmin()">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        <mat-chip-list>
          <mat-chip *ngIf="row.disabled" color="warn" selected>Disabled</mat-chip>
          <mat-chip *ngIf="!row.disabled" selected>Enabled</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

     <!-- addToCases Column -->
     <ng-container matColumnDef="addToCases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Add to cases </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> <button mat-raised-button color="accent" (click)="onAddCase($event, row)">Add to cases</button> </td>

    </ng-container>

    <!-- disableCases Column -->
    <ng-container matColumnDef="disableCases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Remove from cases </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> <button mat-raised-button color="warn" (click)="onRemoveCase($event, row)">Disable case</button> </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)">
    </tr>
  </table>

  <idt-app-paginator
    [pageSizeOptions]="[10, 25, 50, 100]"
    [length]='totalResults$'
    [pageSize]='pageSize'
    [currentPage]='currentPage$'
    (page)="paginationChanges$.next($event)"
  ></idt-app-paginator>
  <div class="idt-loading-shade" *ngIf="!(dataLoaded$ | async)">
    <idt-loader *ngIf="!(dataLoaded$ | async)"></idt-loader>
  </div>
</div>

<div *ngIf="(dataLoaded$ | async) && (dataEmpty$ | async)">No case meets the search conditions</div>
