<div class="idt-about-page">

  <div class="idt-about__half left">
    <p>
      <strong class="medium-text">The Initiative for Digital Transformation</strong> (IDT) serves as a research platform on
      the fundamental
      issues and dynamics underlying the ability of enterprises to leverage their potential for digital
      technology-driven
      organizational change.
    </p>
    <div class="idt-about__logo-wrapper idt-mobile">
        <img class="tum-logo" src="../../../assets/images/tum-logo.png">
        <img class="sap-logo" src="../../../assets/images/sap-logo.svg">
      </div>
    <p>
      The goal of the platform is to promote innovative business development to create economic growth. The IDT
      accomplishes
      its mission by analyzing, understanding, and supporting the design of leadership, innovation, and motivation in
      the
      digital transformation. The foundation of the IDT emanates from a combined plan established by SAP and TUM (Chair
      for
      Information Systems at Technische Universität München, Prof. Dr. Helmut
      Krcmar) intended to intensify innovative interdisciplinary research. TUM and SAP combine excellence in
      information systems development and research.
    </p>
  </div>
  <div class="idt-about__half right">

    <div class="idt-about__logo-wrapper idt-desktop">
      <img class="tum-logo" src="../../../assets/images/tum-logo.png">
      <img class="sap-logo" src="../../../assets/images/sap-logo.svg">
    </div>
  </div>

</div>
<div class="background"></div>
