<h3 class="margin-top-0"> Forgot your password? </h3>
<p class="margin-bottom-2m">No problem! <br> Enter your email below and we will send you a link to reset it. </p>
<form [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()" class="idt-forgot-password__form">
  <mat-form-field class="margin-right-m margin-bottom-s">
    <input matInput placeholder="Email" formControlName="email" required>
  </mat-form-field>
  <br>
  <button class="margin-right-m" mat-raised-button color="primary" [disabled]="forgotPwdForm.invalid" type="submit"> Reset Password </button>
  <button (click)="close($event)" mat-stroked-button color="primary" > Cancel</button>
</form>

