<div class="idt-error-page">
  <div class="idt-error-page__image"></div>
  <div class="idt-error-page__overview">
    <div class="idt-error-page__overview-text">
      <h1 class="idt-error-page__main-title"> Page not found </h1>
      <p class="idt-error-page__main-description">Maybe try to log in</p>

      <div class="idt-error-page__navigation-items">
        <a routerLink="/" class="idt-error-page__navigation-item">
          <mat-icon class="navigation-icon">home</mat-icon>
          <div class="idt-link">
              <strong class="idt-semibold">Return to home</strong></div>
        </a>
        <a routerLink='/cases' class="idt-error-page__navigation-item">
          <mat-icon class="navigation-icon">find_in_page</mat-icon>
          <div class="idt-link">
              <strong class="idt-semibold">Discover Cases</strong>
          </div>
        </a>
        <a routerLink="/companies" class="idt-error-page__navigation-item">
          <mat-icon class="navigation-icon">location_city</mat-icon>
          <div class="idt-link">
              <strong class="idt-semibold">Search companies</strong>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

