<h1>Impressum</h1>

<h2>Anschrift</h2>
Technische Universität München <br>
Arcisstraße 21 <br>
80333 München <br>
Telefon: +4989289-01 

<h2>Vertretungs­berechtigt</h2>
Die Technische Universität München ist eine Körperschaft des Öffentlichen Rechts. Sie wird gesetzlich vertreten durch den Präsidenten, Prof. Dr. Thomas F. Hofmann.

<h2>Zuständige Aufsichtsbehörde</h2>
Bayerische Staatsministerium für Wissenschaft und Kunst

<h2>Umsatzsteuer­identifikations­nummer</h2>
DE811193231

<h2>Inhaltlich verantwortlich </h2>
Prof. Helmut Krcmar <br>
Boltzmannstr. 3 <br>
85748 Garching <br>
E-Mail: krcmar(at)in.tum.de

<h2>Technische Umsetzung</h2>
Diese Webauftritt ist mit dem Web Content Management System TYPO3 umgesetzt und ist ein Angebot der Zentrale Informationstechnik (ZIT) der TUM.

Technischer Ansprechpartner für dieses TYPO3-Angebot ist das TYPO3-Team der ZIT – erreichbar unter typo3@tum.de. Für Einbau und Verwaltung der Inhalte sind die jeweiligen Inhaber des Webauftritts zuständig.

Haftungshinweis
Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

Namentlich gekennzeichnete Beiträge in den Diskussions­bereichen geben die Meinung des Autors wieder. Für die Inhalte der Beiträge sind ausschließlich die Autoren zuständig.

<mat-divider class="margin-y-3m"></mat-divider>

<h1>Imprint </h1>
<h2>Address</h2>
Technical University of Munich <br>
Arcisstraße 21 <br>
80333 München <br>
Phone: +4989289-01

<h2> Authorized representative </h2>
Technical University of Munich is a statutory body under public law. It is legally represented by the President, Prof. Dr. Thomas Hofmann.

<h2> Competent supervisory authority </h2>
Bavarian State Ministry of Science and the Arts

<h2> VAT ID </h2>
DE811193231

<h2> Responsible for content </h2>
Prof. Helmut Krcmar <br>
Boltzmannstr. 3 <br>
85748 Garching <br>
E-Mail: krcmar(at)in.tum.de <br>

<h2> Technical realization </h2>
This website is realised with the web content management system TYPO3 and is a service of the TUM‘s Central Information Technology (ZIT.

Technical contact for this TYPO3 service is the TYPO3 team of the ZIT – reachable at typo3@tum.de. The owners of this website are responsible for the content.

<h2> Legal disclaimer </h2>
In spite of taking great care to check, we do not accept any responsibility for the content of external links. The operators of these websites are solely responsible for their content.

Contributions in the discussion sections which are attributed by name reflect the opinion of the author. The authors themselves are solely responsible for the content of the contributions.