<h1>Daten­schutz­erklärung</h1>
Für die Technische Universität München ist Datenschutz ein wichtiges Anliegen. Wir möchten, dass Sie wissen, wann wir
welche Daten speichern und wie wir sie verwenden. Personenbezogene Daten werden auf diesem zentralen Webserver der
Universität nur im technisch notwendigen Umfang erhoben. Die Datenverarbeitung unterliegt den geltenden
datenschutzrechtlichen Bestimmungen, insbesondere der Datenschutz-Grundverordnung (DSGVO) dem Bayerischen
Datenschutzgesetz (BayDSG) und dem Telemediengesetz (TMG).

Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung und Verwendung personenbezogener Daten. Diese
Informationen können jederzeit von unserer Webseite abgerufen werden.

Technische Umsetzung
Die Webserver der Technischen Universität München werden vom Leibniz-Rechenzentrum (LRZ) betrieben.

Leibniz-Rechenzentrum (LRZ)
Boltzmannstraße 1
85748 Garching b. München

<h2>Protokollierung</h2>
Wenn Sie diese oder andere Internetseiten aufrufen, übermitteln Sie über Ihren Browser Daten an unseren Webserver. Die
folgenden Daten werden während einer laufenden Verbindung zur Kommunikation zwischen Ihrem Browser und unserem Webserver
temporär in einer Logdatei aufgezeichnet:

<ul>
    <li>IP-Adresse des anfragenden Rechners</li>
    <li>Datum und Uhrzeit des Zugriffs </li>
    <li> Name, URL und übertragene Datenmenge der abgerufenen Datei </li>
    <li> Zugriffsstatus (angeforderte Datei übertragen, nicht gefunden etc.) </li>
    <li> Erkennungs­daten des verwendeten Browser- und Betriebssystems (sofern vom anfragenden Browser übermittelt)
    </li>
    <li> Webseite, von der aus der Zugriff erfolgte (sofern vom anfragenden Browser übermittelt) </li>
</ul>
Die Verarbeitung der Daten in dieser Logdatei geschieht wie folgt: <br>
Die Logeinträge werden kontinuierlich automatisch ausgewertet, um Angriffe auf die Webserver erkennen und entsprechend
reagieren zu können.
In Einzelfällen, d.h. bei gemeldeten Störungen, Fehlern und Sicherheits­vorfällen, erfolgt eine manuelle Analyse.
Logeinträge, die älter als sieben Tage sind, werden durch Kürzung der IP-Adresse anonymisiert.
Die anonymisierten Logs werden zur Erstellung von Zugriffs­statistiken verwendet. Die hierfür eingesetzte Software wird
lokal vom LRZ betrieben.
Die in den Logeinträgen enthaltenen IP-Adressen werden vom LRZ nicht mit anderen Datenbeständen zusammengeführt, so dass
für das LRZ kein Rückschluss auf einzelne Personen möglich ist.

<h2>Aktive Komponenten </h2>
In diesem Webauftritt werden aktive Komponenten wie JavaScript verwendet. Diese Funktion kann durch die
Einstellung
Ihres Browsers von Ihnen abgeschaltet werden.

<h2>Auswertung des Nutzerverhaltens (Webtracking)</h2>
In diesem Webauftritt werden unter Einsatz der Webanalysedienst-Software Matomo (<idt-link href="https://www.matomo.org" linkText="www.matomo.org"></idt-link>), einem
Dienst des Anbieters InnoCraft Ltd., 150 Willis St, 6011 Wellington, Neuseeland, („Matomo“) auf Basis
unseres berechtigten Interesses an der statistischen Analyse des Nutzerverhaltens zu Optimierungs- und
Marketingzwecken gemäß Art. 6 Abs. 1 lit. f DSGVO Daten gesammelt und gespeichert. Aus diesen Daten
können
zum selben Zweck pseudonymisierte Nutzungsprofile erstellt und ausgewertet werden. Hierzu können Cookies
eingesetzt werden. Bei Cookies handelt es sich um kleine Textdateien, die lokal im Zwischenspeicher des
Browsers des Seitenbesuchers gespeichert werden. Die Cookies ermöglichen unter anderem die
Wiedererkennung
des Browsers. Die mit der Matomo-Technologie erhobenen Daten (einschließlich Ihrer pseudonymisierten
IP-Adresse) werden auf Servern des LRZ verarbeitet.

Die durch das Cookie erzeugten Informationen im pseudonymen Nutzerprofil werden nicht dazu benutzt, den
Besucher dieses Webauftritts persönlich zu identifizieren und nicht mit personenbezogenen Daten über den
Träger des Pseudonyms zusammengeführt.

Die Installation der Cookies können Sie durch eine entsprechende Einstellung Ihres Browsers verhindern.
Wir
weisen jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieses
Webauftritts vollumfänglich nutzen können.

Wir empfehlen Ihnen, die ganze Datenschutzerklärung von Matomo zu lesen:
<idt-link href="https://matomo.org/privacy-policy/" linkText="https://matomo.org/privacy-policy/"></idt-link>.

<h2>Deaktivierung Matomo Tracking (Opt-Out)</h2>
Wenn Sie mit der Speicherung und Auswertung dieser Daten durch Matomo aus Ihrem Besuch nicht
einverstanden
sind, dann können Sie der Speicherung und Nutzung nachfolgend per Mausklick jederzeit widersprechen. In
diesem Fall wird in Ihrem Browser ein sog. Opt-Out-Cookie abgelegt, was zur Folge hat, dass Matomo
keinerlei
Sitzungsdaten erhebt.

<h2>Abmeldung Matomo</h2>
Achtung:
Wenn Sie Ihre Cookies löschen, so hat dies zur Folge, dass auch das Opt-Out-Cookie gelöscht wird und
ggf.
von Ihnen erneut aktiviert werden muss.


<h2>Cookies</h2>
Um den Funktionsumfang unseres Internetangebots zu erweitern und die Nutzung für Sie komfortabler zu
gestalten, verwenden wir zum Teil so genannte „Cookies". Mit Hilfe dieser Cookies können bei dem Aufruf
unseres Webauftritt Daten auf Ihrem Rechner gespeichert werden. Sie können das Speichern von Cookies
jedoch
deaktivieren oder Ihren Browser so einstellen, dass Cookies nur für die Dauer der jeweiligen Verbindung
zum
Internet gespeichert werden. Hierdurch könnte allerdings der Funktionsumfang unseres Angebots
eingeschränkt
werden.

<h2> Online-Formulare </h2>
Personenbezogene Daten, die Sie gegebenenfalls über Kontaktformulare, Anmeldeformulare und ähnliche
Webseiten auf unseren Webservern an uns leiten werden nur mit Ihrem Einverständnis entgegengenommen und
dienen ausschließlich dem in den Formularen genannten Zweck. Bitte beachten Sie die entsprechenden
Hinweise
in den Formularen.

In allen Formularen werden nur die personenbezogenen Daten erhoben, die unbedingt erforderlich sind.
Üblicherweise werden die personenbezogenen Daten in einer Datenbank des LRZ gespeichert und sind den
jeweils
zuständigen Mitarbeitern der TUM zugänglich. Ist der Zweck der Datenerhebung, die Daten auch anderen
Mitgliedern der TUM zugänglich zu machen, so wird hierbei das Prinzip der Datensparsamkeit beachtet.
Ihre
Daten werden nicht an Dritte weiteregegeben, es sei denn, dies ist im Formular explizit angegeben.

Ihre personenbezogen Daten werden nach Zweckerfüllung gelöscht, es sei denn Sie haben Ihre Einwilligung
zu
weiteren Kontaktpflege gegeben.

Sie können jederzeit für die Zukunft Ihre Einwilligung widerrufen. Hierzu wenden Sie sich bitte an
it-support@tum.de. Ihre Daten werden dann unverzüglich gelöscht.


<h2>Zwei Klicks für mehr Datenschutz</h2>
Erst durch das Anklicken eines Social-Network-Buttons wird dieser aktiv und Ihr Browser baut eine
direkte
Verbindung mit den jeweiligen Servern auf. Der erstmalige Klick auf den Button bedeutet somit, dass Sie
Ihre
Zustimmung zur Datenübermittlung an den entsprechenden Anbieter erteilen.

Durch die Aktivierung des Buttons erhält dieser die Information, dass Sie die entsprechende Seite
unseres
Webauftritts aufgerufen haben. Sind Sie bei dem jeweiligen Sozialen Netzwerk eingeloggt kann der Besuch
ab
diesem Moment Ihrem Konto zugeordnet werden, selbst wenn Sie den Button kein zweites Mal betätigen. Wenn
Sie
mit den Plugins interagieren, zum Beispiel einen Kommentar abgeben indem Sie den Button ein weiteres Mal
betätigen, wird die entsprechende Information von Ihrem Browser direkt an den Anbieter übermittelt und
dort
gespeichert..

<h2>Änderung der Datenschutzerklärung</h2>
Wir behalten uns vor, unsere Datenschutzerklärung gelegentlich anzupassen, damit sie stets den aktuellen
rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung
umzusetzen. Wir empfehlen Ihnen, diese Datenschutzerklärung regelmäßig zu lesen, um über den Schutz der
von
uns erfassten persönlichen Daten auf dem Laufenden zu bleiben. Durch die fortgesetzte Nutzung unseres
Webauftrtitts erklären Sie sich mit dieser Datenschutzerklärung und deren Aktualisierung einverstanden.

<h2>Behördlicher Datenschutzbeauftragter</h2>
Den behördlichen Datenschutzbeauftragten der Technischen Universität München erreichen Sie per E-Mail
unter
beauftragter(at)datenschutz.tum.de oder über <idt-link href="http://www.datenschutz.tum.de" linkText="www.datenschutz.tum.de"></idt-link>.